notebook
ipython
jupyter
pytest
mypy
pampy
PyMonad
isort
flake8
numpy
pandas
matplotlib
pendulum
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.5.3 # not directly required, pinned by Snyk to avoid a vulnerability